<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <h1>Hirer Sign Up</h1>
    <form action="/hirers/save" method="post">
        <div> Fullname <input type="text" name="hirerContact.hirerFullName"></div>
        <div> User Name <input type="text" name="hirerLoginInfo.hirerUsername"></div>

        <div> Phone Number <input type="number" name="hirerContact.hirerPhoneNumber"></div>
        <div> Email <input type="email" name="hirerContact.hirerEmail"></div>
        <div> Password <input type="password" name="hirerLoginInfo.hirerPassword"></div>
        <div>  <input type="submit" name="submit"></div>
    </form>
</div>

</body>
</html>